{% extends "InvoiceBundle::main.html.twig" %}
{% block title %}
Nowa faktura
{% endblock %}
{% block body %}
<div class="container">

<form class="form-horizontal" method="POST">
    <div id="header">
        <div class="col-lg-6">
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Faktura nr: </label>
                <div class="col-lg-9"><input type="text" class="form-control" name="invoice_number"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Data wystawienia:</label>
                <div class="col-lg-9"><input type="date" class="form-control"" name="generation_date"></div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Data zakończenia usługi:</label>
                <div class="col-lg-9"><input type="date" class="form-control" name="completion_date"></div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Miejsce wystawienia</label>
                <div class="col-lg-9"><input type="text" class="form-control" name="place"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12"><hr></div>
    <div id="data">

        <div class="col-lg-6" id="seller">
            <h3>Sprzedawca:</h3>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Nazwa</label>
                <div class="col-lg-9"><input class="form-control" type="text" name="seller_name" id="seller_name"></div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Adres</label>
                <div class="col-lg-9"><input class="form-control" type="text" name="seller_address"></div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Miejscowość</label>
                <div class="col-lg-9"><input class="form-control" type="text" name="seller_city"></div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Kod pocztowy</label>
                <div class="col-lg-9"><input class="form-control" type="text" name="seller_postal"></div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">NIP</label>
                <div class="col-lg-9"><input class="form-control" type="text" name="seller_NIP"></div>
            </div>
        </div>

        <div class="col-lg-6" id="seller">
            <h3>Nabywca:</h3>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Nazwa</label>
                <div class="col-lg-9"><input class="form-control" type="text" name="client_name" id="client_name"></div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Adres</label>
                <div class="col-lg-9"><input class="form-control" type="text" name="client_address"></div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Miejscowość</label>
                <div class="col-lg-9"><input class="form-control" type="text" name="client_city"></div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Kod pocztowy</label>
                <div class="col-lg-9"><input class="form-control" type="text" name="client_postal"></div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">NIP</label>
                <div class="col-lg-9"><input class="form-control" type="text" name="client_NIP"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12"><hr></div>
    <div class="col-lg-12 table-responsive" id="table">
        <table id="products" class="table col-lg-12">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa towaru/usługi</th>
                <th>Ilość</th>
                <th>Cena netto</th>
                <th>Wartość netto</th>
                <th>Stawka VAT</th>
                <th>Kwota VAT</th>
                <th>Wartość brutto</th>
            </tr>
            </thead>
            <tbody>
                <tr class="product_row">
                    <td>1</td>
                    <td class="product_name">
                        <input type="text" name="product[0][product_name]">
                    </td>
                    <td class="product_quantity">
                        <input type="number" name="product[0][product_quantity]">
                    </td>
                    <td class="netto_price">
                        <input type="number" name="product[0][netto_price]">
                        </td>
                    <td class="netto_value">
                        <input type="number" readonly="readonly" name="product[0][netto_value]">
                    </td>
                    <td class="vat">
                        <input type="number" value="23" readonly="readonly" name="product[0][vat]">
                    </td>
                    <td class="vat_value">
                        <input type="number" readonly="readonly" name="product[0][vat_value]">
                    </td>
                    <td class="brutto_value">
                        <input type="number" readonly="readonly" name="product[0][brutto_value]">
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn" id="count_btn">Przelicz</button>
        <button class="btn" id="add_btn">Dodaj wiersz</button>
    </div>
    <div class="col-lg-12" id="sum">
        <div class="col-lg-6"></div>
        <div class="col-lg-6"><table class="table">
            <thead>
            <tr>
                <th>VAT</th>
                <th>Suma Netto</th>
                <th>Suma VAT</th>
                <th>Suma Brutto</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>23%</td>
                    <td id="netto_sum"></td>
                    <td id="vat_sum"></td>
                    <td id="brutto_sum"></td>
                </tr>
            </tbody>
        </table></div>
    </div>
    <div class="col-lg-12"><hr></div>
    <div class="col-lg-12">
        <label for="comment" class="control-label">Uwagi</label>
        <textarea class="form-control col-lg-12" name="comment" placeholder="Np. informacja o zwolnieniu z VAT"></textarea>
    </div>
    <div class="col-lg-12">
        <hr>
    </div>
    <div class="col-lg-12">
        <p><input type="submit" value="Generuj" class="btn"></p>
    </div>
</form>

</div>
{% endblock %}