{% extends 'InvoiceBundle::main.html.twig' %}
{% block title %}
Nowa faktura
{% endblock %}
{% block body %}
<div class="container">

<form class="form-horizontal" method="POST">
    <div id="header">
        <div class="col-sm-6">
            <div class="form-group col-sm-12"><label class="col-sm-3">Faktura nr: </label><input type="text" class="col-sm-9" name="invoice_number"></div>
        </div>
        <div class="col-sm-6">
            <div class="form-group col-sm-12"><label class="col-sm-6">Data wystawienia:</label><input type="date" class="col-sm-6" name="generation_date"></div>
            <div class="form-group col-sm-12"><label class="col-sm-6">Data zakończenia usługi:</label><input type="date" class="col-sm-6" name="completion_date"></div>
            <div class="form-group col-sm-12"><label class="col-sm-6">Miejsce wystawienia</label><input type="text" class="col-sm-6" name="place"></div>
        </div>
    </div>
    <div class="col-sm-12"><hr></div>
    <div id="data">
        <div class="col-sm-6" id="seller">
            <h3>Sprzedawca:</h3>
            <div class="form-group col-sm-12"><label class="col-sm-3">Nazwa</label><input type="text" class="col-sm-9" name="seller_name"></div>
            <div class="form-group col-sm-12"><label class="col-sm-3">Adres</label><input type="text" class="col-sm-9" name="seller_address"></div>
            <div class="form-group col-sm-12"><label class="col-sm-3">Miejscowość</label><input type="text" class="col-sm-9" name="seller_city"></div>
            <div class="form-group col-sm-12"><label class="col-sm-3">Kod pocztowy</label><input type="text" class="col-sm-9" name="seller_postal"></div>
            <div class="form-group col-sm-12"><label class="col-sm-3">NIP</label><input type="text" name="seller_NIP"></div>
        </div>

        <div class="col-sm-6" id="seller">
            <h3>Nabywca:</h3>
            <div class="form-group col-sm-12"><label class="col-sm-3">Nazwa</label><input type="text" class="col-sm-9" name="client_name"></div>
            <div class="form-group col-sm-12"><label class="col-sm-3">Adres</label><input type="text" class="col-sm-9" name="client_address"></div>
            <div class="form-group col-sm-12"><label class="col-sm-3">Miejscowość</label><input type="text" class="col-sm-9" name="client_city"></div>
            <div class="form-group col-sm-12"><label class="col-sm-3">Kod pocztowy</label><input type="text" class="col-sm-9" name="client_NIP"></div>
            <div class="form-group col-sm-12"><label class="col-sm-3">NIP</label><input type="text"></div>
        </div>
    </div>
    <div class="col-sm-12"><hr></div>
    <div class="col-sm-12" id="table">
        <table id="products" class="table">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa towaru/usługi</th>
                <th>Ilość</th>
                <th>Cena netto</th>
                <th>Wartość netto</th>
                <th>Stawka VAT</th>
                <th>Kwota VAT</th>
                <th>Wartość brutto</th>
            </tr>
            </thead>
            <tbody>
                <tr class="product_row">
                    <td>1</td>
                    <td class="product_name"><input type="text" name="product_name[]"></td>
                    <td class="product_quantity"><input type="number" name="product_quantity[]"></td>
                    <td class="netto_price"><input type="number" name="netto_price[]"></td>
                    <td class="netto_value"><input type="number" disabled="disabled" name="netto_value[]"></td>
                    <td class="vat"><input type="number" value="23" name="vat[]"></td>
                    <td class="vat_value"><input type="number" disabled="disabled" name="vat_value[]"></td>
                    <td class="brutto_value"><input type="number" disabled="disabled" name="brutto_value[]"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn" id="count_btn">Przelicz</button>
    </div>
    <div class="col-sm-12" id="sum">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"><table class="table">
            <thead>
            <tr>
                <th>VAT</th>
                <th>Wartość Netto</th>
                <th>Wartość VAT</th>
                <th>Wartość Brutto</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>23%</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table></div>
    </div>
    <div class="col-sm-12"><hr></div>
    <div class="col-sm-12">
        <p>Uwagi</p>
        <textarea class="col-sm-12"></textarea>
    </div>
    <input type="submit" value="Generuj" class="btn">
</form>

</div>
{% endblock %}